@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  
  /* Habbo-style Pixel Art Palette */
  --periwinkle: #CCCCFF;
  --periwinkle-dark: #9999CC;
  --periwinkle-selout: #666699; /* Para delineados internos */
  
  --cream: #FAF3DD;
  --cream-dark: #E6DDBD;
  
  --black: #000000;
  --white: #FFFFFF;
  
  /* Core UI Mapping */
  --background: var(--cream);
  --foreground: var(--black);
  
  --card: var(--periwinkle);
  --card-foreground: var(--black);
  
  --primary: var(--periwinkle);
  --primary-foreground: var(--black);
  
  --secondary: var(--cream);
  --secondary-foreground: var(--black);
  
  --muted: #E6DDBD;
  --muted-foreground: #666699;
  
  --border: var(--black);
  --input: var(--cream);
  
  --radius: 0px; /* Cero bordes redondeados en Pixel Art estricto */
  
  --font-pixel: 'Silkscreen', monospace;
  --font-pixel-text: 'VT323', monospace;
}
